html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address, div {
  margin:0;
  padding:0;
}
body {
  font:76%/160% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  overflow: hidden;
}
div {
  text-align: center;
  font-family: "Arial";
  font-size: 20px;
  color: black;
}
.loadingScreen {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: white;
}
.loadingscreen h1 {
  padding-top: 256px;
  font-size: 100px;
}
.loadingscreen p {
  padding-top: 128px;
  font-size: 20px;
}
.nightScreen {
  padding-top: 256px;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: black;
}
.nightScreen div {
  padding-top: 64px;
}
.spinner {
  border: 16px solid #EEEEEE;
  border-top: 16px solid #757575;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 150 auto 0 auto;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 33vh 34vh 33vh;
}
.module {
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 5px;
}
.message {
  width: 80%;
  margin: 10 auto;
  padding: 10px;
  border-radius: 10px;
  background: white;
}
table {
  table-layout: fixed;
  font-size: 13;
  width: 100%;
  border: 0px;
  border-collapse:collapse;
}
tr {
  height: 20px;
  overflow-y: hidden;
}
tr.section td {
  font-variant: small-caps;
  border: 0px;
}
td {
  border: 0px;
  padding:.3em 1em;
  text-align:left;
}
td.stretch-cell {
}
td.stretch-cell.task {
  width: 20px;
  padding: 0px;
  filter: brightness(175%);
}
td.crop-cell {
  width: 140px;
  white-space: nowrap;
  font-variant: small-caps;
  filter: brightness(175%);
}
